table {
    margin: 40px auto;
}
td {
    width: 100px;
    height: 100px;
}
td:hover {
    cursor: pointer;
}

button {
    background: rgb(211, 211, 211);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px 2px rgb(96, 96, 96);
}

button:active {
    background-color: rgb(160, 160, 160);
    transform: translate(2px, 2px);
    box-shadow: inset;
}

button:focus {
    outline: 0;
}

.disabled {
    background-color: rgb(160, 160, 160);
    border: 1px #ff0000 solid;
    animation: blink 1s;
    animation-iteration-count: 2;
}

.disabled td:hover {
    cursor: none;
}

@keyframes blink {
    50% {
        border-color: #fff;
        background-color: #fff;
    }
}
